.git
.gitignore
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
template.zip
*.log
